In [1]:
import pandas as pd
import os
pd.set_option('display.max_columns', None) #show all columns
pd.set_option('max_colwidth',None)
import sys
sys.path.append("..")
import myFunction as mf

In [2]:
data=pd.read_csv(os.path.dirname(os.getcwd())+'/result/final_tableV7.csv')
aki=pd.read_csv(os.path.dirname(os.getcwd())+'/data/original data/aki.csv')

In [3]:
data=pd.merge(data, aki, on='hadm_id', how = 'left')

In [5]:
data[['aki','aki_recover','aki_1','aki_2','aki_3']]=data[['aki','aki_recover','aki_1','aki_2','aki_3']].fillna(0)

In [5]:
data.columns

Index(['subject_id', 'hadm_id', 'icustay_id', 'ethnicity', 'gender', 'los',
       'height_first', 'weight_first', 'dob_h', 'dod_h', 'admittime_h',
       'dischtime_h', 'intime_h', 'outtime_h', 'hospital_mortality',
       '30_mortality', '90_mortality', '365_mortality', 'age',
       'acute pancreatitis.csv', 'Chronic liver disease.csv', 'CKD.csv',
       'CKD5.csv', 'COPD.csv', 'coronary heart disease.csv', 'diabetes.csv',
       'has_surgery.csv', 'heart failure.csv', 'hypertension.csv',
       'hypotension.csv', 'kidney transplantation.csv', 'Malignancy.csv',
       'rhabdomyolysis.csv', 'Albumin.csv_mean', 'Chloride.csv_mean',
       'creatinine.csv_mean', 'Hemoglobin.csv_mean', 'Lymphocyte.csv_mean',
       'neutrophils.csv_mean', 'platelet.csv_mean', 'potassium.csv_mean',
       'RDW.csv_mean', 'sodium.csv_mean', 'TBIL.csv_mean',
       'urea nitrogen.csv_mean', 'Urine Protein.csv_mean', 'WBC.csv_mean',
       'first_value', 'max_value', 'aki', 'rrt', 'last_value', 'aki_recover',
       'aki_1', 'aki_2', 'aki_3'],
      dtype='object')

In [6]:
data=data[data['aki']!=0]

In [7]:
data=data[(data['age']<=90)&(data['age']>=16)]

In [8]:
data=data[data['los']>=1]

In [9]:
data=data[data['kidney transplantation.csv']==0]

In [10]:
data=data[data['CKD5.csv']==0]

In [11]:
mf.meanFill(data, ['weight_first','height_first']+list(data.columns[33:]))

In [12]:
data['gender']=data['gender'].map(lambda x:1 if x=='M' else 0)
divide=data['height_first']/100
data['BMI']=data['weight_first']/(divide*divide)
data.drop(['weight_first','height_first'], axis=1, inplace=True)
for i in ['WHITE','WHITE - RUSSIAN','WHITE - BRAZILIAN','WHITE - OTHER EUROPEAN','WHITE - EASTERN EUROPEAN']:
    data.loc[data[data['ethnicity']==i].index, 'ethnicity']=0
for i in ['ASIAN','ASIAN - CHINESE','ASIAN - ASIAN INDIAN','ASIAN - THAI','ASIAN - OTHER', 'ASIAN - VIETNAMESE',
         'ASIAN - FILIPINO', 'ASIAN - JAPANESE','ASIAN - KOREAN','ASIAN - CAMBODIAN']:
    data.loc[data[data['ethnicity']==i].index, 'ethnicity']=1 
for i in ['BLACK/AFRICAN AMERICAN','BLACK/CAPE VERDEAN',
       'BLACK/HAITIAN','BLACK/AFRICAN',]:
    data.loc[data[data['ethnicity']==i].index, 'ethnicity']=2
data['ethnicity']=data['ethnicity'].map(lambda x:3 if type(x)!=int else x)

In [13]:
data['ratio']=data['neutrophils.csv_mean']/data['Lymphocyte.csv_mean']

In [16]:
data

,subject_id,hadm_id,icustay_id,ethnicity,gender,los,dob_h,dod_h,admittime_h,dischtime_h,intime_h,outtime_h,hospital_mortality,30_mortality,90_mortality,365_mortality,age,acute pancreatitis.csv,Chronic liver disease.csv,CKD.csv,CKD5.csv,COPD.csv,coronary heart disease.csv,diabetes.csv,has_surgery.csv,heart failure.csv,hypertension.csv,hypotension.csv,kidney transplantation.csv,Malignancy.csv,rhabdomyolysis.csv,Albumin.csv_mean,Chloride.csv_mean,creatinine.csv_mean,Hemoglobin.csv_mean,Lymphocyte.csv_mean,neutrophils.csv_mean,platelet.csv_mean,potassium.csv_mean,RDW.csv_mean,sodium.csv_mean,TBIL.csv_mean,urea nitrogen.csv_mean,Urine Protein.csv_mean,WBC.csv_mean,first_value,max_value,aki,rrt,last_value,aki_recover,aki_1,aki_2,aki_3,BMI,ratio
7,9,150750,220597,3,1,5.3231,1297944,1664376.0,1664269.100,1664386.250,1664269.117,1664396.871,1,1,1,1,41.817936,0,0,0,0,0,0,0,1,1,1,0,0,0,0,2.950000,97.900000,1.783333,12.325000,13.325631,78.278764,276.571429,3.233333,14.257143,134.100000,0.400000,23.833333,NaN,14.357143,1.2,2.0,1.0,0.0,2.0,0.0,1.0,0.0,0.0,31.095741,5.874301
17,21,109451,217847,0,1,5.9017,764880,1534944.0,1531356.283,1531672.250,1531364.834,1531506.476,0,0,0,1,87.498269,0,0,0,0,0,1,1,1,1,0,0,0,1,0,2.950000,100.488889,3.615789,10.366667,6.180000,85.600000,215.375000,4.118182,17.706667,138.315789,0.400000,70.000000,NaN,18.380000,3.2,4.9,3.0,1.0,3.5,1.0,0.0,0.0,1.0,21.356901,13.851133
26,31,128652,254478,0,1,7.9379,669504,1303152.0,1302983.450,1303167.000,1302983.478,1303173.989,1,1,1,1,72.315009,0,0,0,0,0,0,0,1,0,1,0,0,0,0,12.200000,104.090909,0.845455,9.966667,12.400000,80.100000,200.100000,4.246154,15.677778,135.818182,0.666667,17.272727,NaN,12.255556,0.9,1.5,1.0,0.0,1.5,0.0,1.0,0.0,0.0,22.125816,6.459677
39,44,181750,291554,3,1,4.1499,1338576,2102856.0,2041458.233,2041646.583,2041474.715,2041574.314,0,0,0,0,80.239579,0,0,0,0,0,1,0,1,0,1,0,0,0,0,4.743839,104.705882,1.537500,9.708333,13.325631,78.278764,118.857143,4.338462,14.333333,136.750000,0.900000,36.125000,NaN,7.566667,1.1,1.9,1.0,0.0,1.4,1.0,1.0,0.0,0.0,26.587266,5.874301
42,49,190539,249195,0,1,1.0694,1279584,NaN,1988887.250,1989062.083,1988890.560,1988916.226,0,0,0,0,80.971068,0,0,0,0,0,0,0,1,1,0,0,0,0,0,4.743839,101.800000,1.344444,10.050000,13.325631,78.278764,156.600000,4.460000,15.580000,138.333333,3.291889,25.888889,NaN,8.680000,1.0,1.7,1.0,0.0,1.3,1.0,1.0,0.0,0.0,29.361556,5.874301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49100,99865,189346,284772,0,0,1.9918,1292784,1972296.0,1971826.500,1972296.017,1972142.882,1972190.686,1,1,1,1,77.552384,0,0,0,0,0,1,0,1,0,1,0,0,1,0,2.820000,101.125000,1.636364,11.591667,13.325631,78.278764,91.111111,3.709091,18.662500,138.818182,18.300000,29.444444,NaN,13.500000,0.8,1.9,2.0,0.0,1.2,0.0,0.0,1.0,0.0,21.000342,5.874301
49101,99865,189346,284772,0,0,1.9918,1292784,1972296.0,1971826.500,1972296.017,1972142.882,1972190.686,1,1,1,1,77.552384,0,0,0,0,0,1,0,1,0,1,0,0,1,0,2.820000,101.125000,1.636364,11.591667,13.325631,78.278764,91.111111,3.709091,18.662500,138.818182,18.300000,29.444444,NaN,13.500000,0.8,1.9,2.0,0.0,1.2,0.0,0.0,1.0,0.0,21.000342,5.874301
49116,99913,175989,292375,3,1,3.1669,966576,NaN,1589756.683,1589945.900,1589795.706,1589871.711,0,0,0,0,71.143802,0,0,0,0,0,1,1,1,0,1,0,0,0,0,4.743839,106.388889,0.871429,9.507692,13.325631,78.278764,94.857143,4.300000,13.657143,137.272727,3.291889,15.142857,NaN,8.585714,0.7,1.1,1.0,0.0,1.1,0.0,1.0,0.0,0.0,28.039542,5.874301
49128,99955,108494,243255,2,1,5.6719,1019832,1573872.0,1573754.517,1573877.333,1573754.539,1573890.666,1,1,1,1,63.233167,0,0,0,0,0,0,1,1,0,1,0,0,0,0,4.743839,114.918367,1.477778,13.340000,13.325631,78.278764,125.142857,4.141667,13.542857,152.708333,1.500000,26.777778,NaN,8.942857,1.0,1.7,1.0,0.0,1.5,0.0,1.0,0.0,0.0,29.400478,5.874301
49136,99991,151118,226241,0,1,3.1426,1553880,NaN,1972160.500,1972452.250,1972265.516,1972340.939,0,0,0,0,47.760904,0,0,0,0,0,0,1,1,1,0,0,0,0,0,4.743839,111.076923,0.887500,9.420000,8.500000,35.000000,321.166667,3.700000,13.466667,144.125000,3.291889,17.500000,NaN,8.083333,1.1,2.5,2.0,0.0,0.8,0.0,0.0,1.0,0.0,35.175572,4.117647

In [15]:
data.to_csv(os.path.dirname(os.getcwd())+'/result/final_tableV8.csv', index=False)

In [7]:
data.to_csv(os.path.dirname(os.getcwd())+'/result/AKI.csv', index=False)