In [1]:
import os
import pandas as pd
import myFunction as mf

In [2]:
data=pd.read_csv('C:/Programs/Python Project/result/final_tableV7.csv')

In [3]:
sub1=data[data['age']>=18]
sub2=sub1[sub1['PTT.csv'].notnull() & sub1['INR.csv'].notnull()]

In [4]:
new_data=sub2[(sub2['HbA1c.csv']>=6.5) | (sub2['diabetes 250XX.csv']==1)]

In [5]:
drop_list=['vasopressin','apsiii','urineoutput', 'lods', 'mingcs', 'infection', 'explicit_sepsis',
       'organ_dysfunction', 'mech_vent', 'angus','aado2','baseexcess','totalco2', 'carboxyhemoglobin', 'chloride', 
          'intubated','o2flow', 'fio2', 'so2', 'pco2', 'peep', 'ph', 'po2',
       'potassium', 'requiredo2', 'sodium', 'temperature', 'tidalvolume','bicarbonate', 'calcium',
       'glucose', 'hematocrit', 'hemoglobin', 'lactate', 'methemoglobin',]
new_data.drop(drop_list,axis=1,inplace=True)

c:\programs\python project\venv\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [6]:
counter=new_data.count()/6920

In [7]:
pd.DataFrame([counter.index,counter]).to_excel('C:/Users/IceFr/Desktop/Project A_凝血功能与糖尿病患者预后的相关分析/report.xlsx')

In [8]:
pd.DataFrame([counter.index,counter])

,0,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
0,subject_id,hadm_id,icustay_id,ethnicity,gender,first_careunit,los,height_first,weight_first,dob_h,...,pH.csv,platelet.csv,PT.csv,PTT.csv,RDW.csv,TBIL.csv,TCHO.csv,Triglyceride.csv,urea nitrogen.csv,WBC.csv
1,1,1,1,1,1,1,1,0.554046,0.939306,1,...,0.846676,0.997832,0.99552,1,0.997399,0.524422,0.132948,0.177023,0.997977,0.997254

In [10]:
drop_list2=['ALT.csv','anion_gap.csv','AST.csv','D-Dimer.csv','fibrinogen.csv',
           'HbA1c.csv','HDL.csv','ketone.csv',
            'LDL.csv','TCHO.csv','Triglyceride.csv']
finaltable=new_data.drop(drop_list2,axis=1)

In [14]:
finaltable.columns[7:]

Index(['height_first', 'weight_first', 'dob_h', 'dod_h', 'admittime_h',
       'dischtime_h', 'intime_h', 'outtime_h', 'hospital_mortality',
       '30_mortality', '90_mortality', '365_mortality', 'age', 'sofa', 'sirs',
       'sapsii', 'rrt', 'cardiac dysrhythmia.csv', 'CKD.csv',
       'Congestive heart failure.csv', 'diabetes 250XX.csv', 'has_surgery.csv',
       'hypertension.csv', 'liver disease.csv', 'Malignancy.csv',
       'pulmonary circulation.csv', 'use_drug.csv', 'Albumin.csv',
       'bicarbonate.csv', 'Calcium.csv', 'creatinine.csv', 'glucose.csv',
       'Hematocrit.csv', 'Hemoglobin.csv', 'IBIL.csv', 'INR.csv',
       'lactic acid.csv', 'pH.csv', 'platelet.csv', 'PT.csv', 'PTT.csv',
       'RDW.csv', 'TBIL.csv', 'urea nitrogen.csv', 'WBC.csv'],
      dtype='object')

In [16]:
mf.meanFill(finaltable,finaltable.columns[7:],show=True )

In [7]:
finaltable.to_csv('C:/Programs/Python Project/result/original_data.csv',index=False)

NameError: name 'finaltable' is not defined